
html{
	background-color: #1b1b1b;
	margin: auto;
	padding: auto;
}

body {
	background-color: #1b1b1b ;
	color: white ;
	height: 100vh;
}

.dark-mode {
  background-color: white;
  color: #1b1b1b;
}

a {
	text-decoration:none;
	font-family: 'Nunito Sans' , sans-serif;
	color: rgb(0,0,0);
}

.a2 {
    color: rgb(52, 62, 207); ;

}
.container {
	width: 95%;
	margin: auto; 
    position: relative;
   color: rgb(129,129,129);
}


.container3 {
	width: 50% ;
	margin: auto;
	position: relative;
}


.esp1 {
	border: none;
	color: #fff;
	padding: 10px 29px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
    margin: auto;
    cursor: pointer;
}

.footer--navbar {
	width: 1332px; 
    height: 80px ;
}



.espace {
	flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* loader */

.loader {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #1b1b1b;
    display: flex; 
    justify-content: center;
    align-items: center;
}
.lettre {
    color: #BABABA;
    font-size: 80px;
    letter-spacing: 15px;
    margin-bottom: 150px;
    animation: flash 1.2s linear infinite;
}
@keyframes flash {
    0% {
        color: #fff900;
        text-shadow: 0 0 7px #fff900;
    }
    90% {
        color: #BABABA;
        text-shadow: none;
    }
    100% {
        color: #fff900;
        text-shadow: 0 0 7px #fff900;
    }
}

.lettre:nth-child(1){
    animation-delay: 0.1s;
}
.lettre:nth-child(2){
    animation-delay: 0.2s;
}
.lettre:nth-child(3){
    animation-delay: 0.3s;
}
.lettre:nth-child(4){
    animation-delay: 0.4s;
}
.lettre:nth-child(5){
    animation-delay: 0.5s;
}
.lettre:nth-child(6){
    animation-delay: 0.6s;
}
.lettre:nth-child(7){
    animation-delay: 0.7s;
}
.lettre:nth-child(8){
    animation-delay: 0.8s;
}
.lettre:nth-child(9){
    animation-delay: 0.9s;
}
.lettre:nth-child(10){
    animation-delay: 1s;
}

.fondu-out {
    opacity: 0;
    transition: opacity 100s;
    size: 150px;
}


.ihgr_i{
    color: ;
}

.progress {
    &__bar 
        animation: progress-bar 1000ms; 
     opacity: 0;
     transition: opacity 100s ease-out;
}

@keyframes progress-bar{
    0% {
        transform: scaleX(0);
        opacity: .1;
    }
    17% {
        transform: scaleX(.18);
    }
    24% {
        transform: scaleX(.4);
    }
    46% {
        transform: scaleX(.81);
    }
    85%,100% {
        opacity: 1;
    }
    100% {
        transform: scaleX(1);
    }
}